@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                'Open Sans', 'Helvetica Neue', sans-serif;  
}

:root {
  --heading-color: #f0bf1a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e1e3e3;
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgb(6, 84, 143);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color);
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* P {
  font-family: "Source Sans Pro";
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px;
  width: min(100% - 2rem, 50em);
  margin-inline: auto;
  
}
.hero {
  background: url(/project-images/ProjectsBG.jpg) no-repeat;
  width: 100%;
  min-height: 50vh;
  background-size: cover;
  background-position: bottom;
}

.projects-title h1 {
  color: white;
  font-size: 3em;
  margin: 20vh 10vh 0 0;
}


section {
  background-color: #054772;
}

.rp {
  background-color: #f3f5f5;
  text-align: center;
}
.botolan {
  color: white;
}
.botolan img {
  width: 10.5em;
  margin: 3em 0 0 2em;
}
.botolan h2 {
  color: var(--heading-color);
  font-size: 25px;
  margin: 0;
}
.botolan h3 {
  margin: 0;
  font-size: 15px;
}
.botolan p {
  margin: 0;
  font-size: 15px;
}
.botolan .botolantxt {
  margin: 3em 3em 0 1em;
}

.stacruz {
  color: white;
  text-align: right;
}
.stacruz img {
  width: 10.5em;
  margin: 3em 10px 3em 0;
}
.stacruz h2 {
  color: var(--heading-color);
  font-size: 25px;
  margin: 0;
}
.stacruz h3 {
  font-size: 15px;
  margin: 0;
}
.stacruz p {
  font-size: 15px;
  margin: 0;
}
.stacruz .stacruztxt {
  margin: 1em 1em 0 1em;
}

.op {
  background-color: #f3f5f5;
  text-align: center;
}

.bnpl img {
  width: 8.5em;
  margin: 3em 1em 3em 2em;
}
.bnpl h2 {
  color: var(--heading-color);
  font-size: 30px;
  padding: 0 10px 20px 0px;
  margin: 0;
}

.pmh img {
  width: 10.5em;
  height: 12em;
  margin: 3em 3em 3em 1em;
}
.pmh h2 {
  color: var(--heading-color);
  margin: 1em 0;
  font-size: 30px;
  padding: 0 0 0 70px;
  margin: 0;
}

.tp img {
  width: 8.5em;
  margin: 3em 1em 3em 2em;
}
.tp h2 {
  color: var(--heading-color);
  font-size: 30px;
}

.interior img {
  width: 10.5em;
  height: 13em;
  margin: 3em 2.7em 3em 1em;
}
.interior h2 {
  color: var(--heading-color);
  margin: 0;
  font-size: 30px;
  padding: 0 0 0 70px;
}

.esports img {
  width: 10.5em;
  height: 15em;
  margin: 3em 1em 3em 2em;
}
.esports h2 {
  color: var(--heading-color);
  font-size: 30px;
  margin: 0;
}

.divider {
  background-color: #ffffff;
  width: 80%;
  border: 0 none;
  height: 1px;
  margin: 0 auto;
}

.divider-rp {
  background-color: #ffffff;
  width: 90%;
  border: 0 none;
  height: 1px;
  margin-top: 60px;
    margin: 0 auto;
}

.project-images:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

img {
  transition: 0.5s all ease-in-out;
}

@media only screen and (min-width: 768px) {
  .hero{
    min-height: 30vh;
    background-position: bottom;
  }
  .projects-title h1 {
    margin: 10vh 20vh 0 0;
  }
  .botolan img {
    width: 25ch;
    margin: 8ch 5ch 8ch 8ch;
  }
  .botolan h2 {
    font-size: 6ch;
  }
  .botolan h3 {
    margin: 1em 0;
    font-size: 21px;
  }
  .botolan p {
    font-size: 18px;
    padding-right: 1ch;
    padding-bottom: 6em;
  }
  .stacruz img {
    width: 25ch;
    margin: 8em 5em 8em 5em;
  }
  .stacruz h2 {
    font-size: 4em;
  }
  .stacruz h3 {
    margin: 1em 0;
    font-size: 21px;
  }
  .stacruz p {
    font-size: 18px;
    padding-left: 1ch;
    padding-bottom: 4em;
  }
  .divider-rp {
    width: 65ch;
  }
  .divider {
    width: 65ch;
  }
  .recent-projects {
    padding: 2em 0;
    font-size: 25px;
  }
  .ongoing-projects {
    padding: 2em 0;
    font-size: 25px;
  }
  .catalogue {
    padding: 2em 0;
    font-size: 25px;
  }
  .catalogue h1{
    font-weight: 800;
  }
  .bnpl img {
    width: 20em;
    margin: 5em 5em 5em 15em;
  }
  .bnpl h2 {
    font-size: 3em;
    padding-right: 5em;
  }
  .pmh img {
    height: 25em;
    width: 20em;
    margin: 5em 30em 5em 5em;
  }
  .pmh h2 {
    font-size: 3em;
    padding-left: 10em;
    text-align: right;
  }
  .tp img {
    width: 20em;
    margin: 5em 4em 5em 15em;
  }
  .tp h2 {
    font-size: 3em;
    padding-right: 5em;
  }
  .interior img {
    height: 25em;
    width: 20em;
    margin: 5em 30em 5em 5em;
  }
  .interior h2 {
    font-size: 3em;
    padding-left: 10em;
    text-align: right;
  }
  .esports img {
    height: 25em;
    width: 20em;
    margin: 5em 5em 5em 15em;
  }
  .esports h2 {
    font-size: 3em;
    padding-right: 5em;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-attachment: fixed;
    min-height: 50vh;
    background-size: cover;
    background-position:bottom;
  }
  .projects-title h1 {
    top: 20px;
    margin: 15vh 60vh 0 0;
    font-size: 6em;
  }
  .container {
    border: 5px none;
    width: min(100% - 2rem, 100em);
    margin-inline: auto;
  }
  .botolan img {
    width: 38ch;
    margin: 8ch 5ch 8ch 35ch;
  }
  .botolan h2 {
    font-size: 6ch;
  }
  .botolan h3 {
    margin: 1em 0;
    font-size: 21px;
  }
  .botolan p {
    font-size: 18px;
    padding-right: 30ch;
    padding-bottom: 10em;
  }
  .stacruz img {
    width: 38ch;
    margin: 8em 20em 8em 5em;
  }
  .stacruz h2 {
    font-size: 4em;
  }
  .stacruz h3 {
    margin: 1em 0;
    font-size: 21px;
  }
  .stacruz p {
    font-size: 18px;
    padding-left: 285px;
    padding-bottom: 10em;
  }
  .divider-rp {
    width: 110ch;
  }
  .divider {
    width: 80ch;
  }
  .recent-projects {
    padding: 2em 0;
    font-size: 25px;
  }
  .ongoing-projects {
    padding: 2em 0;
    font-size: 25px;
  }
  .catalogue {
    padding: 0;
    font-size: 25px;
  }
  .bnpl img {
    width: 20em;
    margin: 5em 5em 5em 28em;
  }
  .bnpl h2 {
    font-size: 4em;
    padding-right: 5em;
  }
  .pmh img {
    height: 25em;
    width: 20em;
    margin: 5em 35em 5em 5em;
  }
  .pmh h2 {
    font-size: 4em;
    padding-left: 10em;
    text-align: right;
  }
  .tp img {
    width: 20em;
    margin: 5em 5em 5em 28em;
  }
  .tp h2 {
    font-size: 4em;
    padding-right: 5em;
  }
  .interior img {
    height: 25em;
    width: 20em;
    margin: 5em 35em 5em 5em;
  }
  .interior h2 {
    font-size: 4em;
    padding-left: 10em;
    text-align: right;
  }
  .esports img {
    height: 25em;
    width: 20em;
    margin: 5em 5em 5em 28em;
  }
  .esports h2 {
    font-size: 4em;
    padding-right: 5em;
  }
  .footer-title-1 {
    -webkit-margin-start: 40px;
            margin-inline-start: 40px;
  }
  .footer-title-2 {
    -webkit-margin-start: 40px;
            margin-inline-start: 40px;
  }
  .footer-title-3 {
    -webkit-margin-start: 40px;
            margin-inline-start: 40px;
    margin-top: 50px;
  }
}

/* header */
.mcc-logo {
  padding-right: 20px;
  position: absolute;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.navbar a.active {
  color: #0c0e8a;
}

.nav-link:hover {
  color: #0c0e8a;
}

.nav-menu a {
  position: relative;
  color: black;
  text-decoration: none;
}

a.nav-link {
  margin-left: 0px;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #0c0e8a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-menu a:hover::before {
  transform: scaleX(1);
}

.nav-logo {
  font-size: 2rem;
  font-weight: 1000;
  color: black;
  padding-left: 60px;
}

@media screen and (max-width: 1400px) {
  .nav-logo {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 1250px) {
  .nav-menu {
    position: absolute;
    left: -79em;
    top: 6.8rem;
    flex-direction: column;
    background-color: #eeeeee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }
  .nav-menu.active {
    left: 0;
    color: #0c0e8a;
  }
  .nav-item {
    margin: 2.5rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media screen and (max-width: 525px) {
  .bar {
    width: 20px;
  }
  .nav-menu {
    top: 10rem;
  }
}
@media screen and (max-width: 380px) {
  .nav-menu {
    top: 12rem;
  }
}
@media screen and (max-width: 320px) {
  .mcc-logo {
    display: none;
  }
  .nav-logo {
    padding-left: 0px;
  }
}
/* FOOTER CATCHPHRASE */
.hr-catchphrase{
  max-width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #005b96;
  border: 4px solid #005b96;
  margin: 20px auto;
  }
  .catchphrase{
  font-size: 1.2rem;
  padding: 30px 50px;
  padding-top: 0px;
  text-align: center;
  }
  
  /* FOOTER CONTACT US */
  .contact-us-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  }
  
  .footer-contact-us{
  text-align: center;
  padding: 10px 0px;
  margin: -20px;
  }
  
  .footer-contact-us > a{
    color: #f3f5f5;
    background-color: #1872ff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 15px 35px;
    transition: 0.3s;
    text-align: center;
  }
  
  .footer-contact-us > a:hover{
  color: #1872ff;
  background-color: white;
  transition: ease-in-out .3s;
  }
  
  
  /* FOOTER */
  .footer-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: #040520;
  justify-content: center;
  }
  
  .footer-container-child{
  color: black;
  text-decoration: none;
  color: white;
  padding: 15px;
  padding-bottom: 20px;
  width: 300px;
  }
  
  .footer-title{
  font-size: 1.2rem;
  font-weight: 1000;
  margin-left: 40px;
  padding: 20px 0px;
  }
  
  .footer-link{
  font-size: 1rem;
  color: white;
  }
  
  .footer-nav-link{
  font-size: 1rem;
  margin-bottom: 8px;
  margin-left: 40px;
  color: white;
  }
  .footer-address{
  font-size: 1rem;
  margin-bottom: 10px;
  margin-left: 40px;
  }
  
  .mcc-footer-logo{
  max-width: 250px;
  height: 250px;
  align-items: center;
  }
  
  .app-store-footer{
  max-width: 150px;
  margin-bottom: 5px;
  padding-left: 12%;
  }
  
  
  #fb-logo, #linked-in-logo{
  max-width: 30px;
  }
  
  .socmed-img{
  padding-left: 14%;
  display: flex;
  }

.copyright-footer {
  font-size: .6rem;
  color: gray;
  font-weight: bolder;
  background-color:#05142b;
  max-width: 100%;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  #footer-mcc-logo{
    width: 100%;
  }
  .footer-title{
    margin-right: 2em;
  }
  .footer-container-child{
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 0px;
  }
  .footer-nav-link, .footer-address{
    margin-left: 0px;
  }
  .app-store-footer{
    max-width: 100px;
    padding: 0px;
    margin: 0 auto;
  }
  .socmed-img{
    display: flex;
    padding: 0;
    padding-bottom: 2px;
    justify-content: center;
  }
}

@media screen and (max-width: 870px) {
  .footer-container-child{
    display: block;
    width: 100%;
    text-align: center;
  }

  .footer-nav-link, .footer-address{
    margin-left: 0px;
  }

  .socmed-img{
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
  }  
}